.startprojects {
  font-family: 'Fjalla One', sans-serif;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 10px;
  font-weight: bold;
/* All the images are set so that they do not display if they are smaller than 1000 pixels in width so that it is optimized for
mobile, this way when on mobile as you can't hover. You can just view the seperate menu */
}
@media all and (max-width: 1000px) {
  #scottish {
          display: none;
  }

}

@media all and (max-width: 1000px) {
  #alexapic {
          display: none;
  }

}
@media all and (max-width: 1000px) {
  #storepic {
          display: none;
  }

}
@media all and (max-width: 1000px) {
  #apppic {
          display: none;
  }

}
/* Background images set so that they change sizes when the window size is changed
the max height is set to the raw size of the image */
.spone {

  width: 100%;
  height: 100%;
  max-height: 900px;

}
.shopone {

  width: 100%;
  height: 100%;
  max-height: 810px;

}
.alexapic {

  width: 100%;
  height: 100%;
  max-height: 810px;

}

.appone {

  width: 100%;
  height: 100%;
  max-height: 810px;

}
.sptwo {

  width: 100%;
  height: 100%;
  max-height: 1400px;

}

.backgroundsp {
  width: 100%;
  height: 100%;
  max-height: 810px;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 20px;
}
/* the menu so that users can easily view the different projects I have done*/
.navprojects ul {

  position: fixed;
  top: 0px;
  padding-left: 0;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  padding-right: 0;
  float: left;
  list-style-type: none;
  margin: 10px 5px;
  padding: 5px;

}

.navprojects a {
    color: #000;
}
/* The position of the nav is set so that it follows the user as they scroll down for ease of going back */
.navprojectsright ul {

  position: absolute;
  margin: 10px 5px;
  padding: 5px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  list-style-type: none;
  right: 30px;



}

.navprojectsright a {
    color: #000;
}

/* This is the mobile navigation so that it is big and easy to view on mobile */
.projectmobile {
  display: none;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Fjalla One', sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  padding: 5px;
}
/* this sets the menu to display when the other pictures do not so when the window is less than 1000 pixels then it
will display */
@media all and (max-width: 1000px){
        .projectmobile {
                display: block;
        }
}
