html,body {
	margin: 0;
	padding: 0;
	font-family: 'Fjalla One', sans-serif;
}
/* Containter to make sure whole page is same size */
#container {

	max-width: 1920px;
	max-height: 1080px;
	margin: 0 auto;
	/* making sure the nav changes when it is hovered over*/
}
a {
	text-decoration: none;
	color: #436EEE;
}

a:hover {
	color: #c1c1c1;
}

.clear {
	clear: both;
}

/* header image css which makes the header resize */

#header .header-image {
	top: 0px;
	width: 100%;
	height: 380px;
	background-position: 100% 0%;
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #FCFCFF;
	padding-bottom: 0px;

}


/*Header title which has font and size as well as position changes */
#header .title h1 {
	position: absolute;
	font-family: 'Fjalla One', sans-serif;
	font-size: 100px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 4px;
	line-height: 200px;
	text-align:right;
	padding-right: 30px;
	color: #1B98E0;
	width: 76%;
	height: 200px;
	margin-top: 44px;
}
/* Header image title */
#header.header-image .title h1 {
	line-height: 400px;
	height: 400px;
	position: absolute;
	top: 0;
	margin-top: 0;
}
/* the nav which has absolute position so it stays at the top of the page with different styles and sizes */
#header #nav {
	position: absolute;
	top: 0;
	right: 0;
	font-family: 'Fjalla One', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 16px;
	text-decoration: none;
	padding-right: 0;


}
/* the nav which has absolute position so it stays at the top of the page with different styles and sizes */
#header #nav {
	position: absolute;
	top: 0;
	right: 0;
	font-family: 'Fjalla One', sans-serif;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 23px;
}
/* making sure the style type is nonw */
#header #nav ul {
	list-style-type: none;
	margin: 10px 5px;
}
/* optimised for mobile this will make the menu go away when the size of the page is below 1200 */
@media all and (max-width:1200px){
	#nav ul {
		display: none;
	}
}
/* hamburger icon which is not displayed until the javascript displays it when the page is smaller */
#nav img.hamburger {
	display: none;
	max-width: 50px;
	position: absolute;
	right: 30px;
	top: 26px;
	float: right;
}

/* the hamburger icon which will appear when the size of the window is less than 1200 pixels */
@media all and (max-width:1200px){
	#header img.hamburger {
		display: block;
	}
}

/* nav styles with changing hover colours */
#header #nav a {
	color: #3c91ca;
}
#header #nav a:hover {

	color: #fff;

}
#header #nav ul li {
	display: inline;
	margin-left: 18px;
	padding: 3px 7px 2px;
}
/* the close overlay icon which is not displayed until the javascript enables it after the hamburger icon is called */
#close img.close {
	display: none;
	max-width: 50px;
	position: absolute;
	right: 30px;
	top: 26px;
	float: right;
	z-index: 1000000;
}
/* the overlay so that it is optimised for mobile the sizes are very big so they are easily clickable */
div.overlay {
	display:none;
	background-color: rgba(0,0,0,0.7);
	position: absolute;
	width: 100%;
	height: 500px;
	z-index: 100;
}

div.overlay ul {
	padding: 0;
	margin: 100px 0 0 0;
	display: block;
	width: 100%;
	text-align: center;
}

div.overlay ul li {
	display: block;
}

div.overlay ul li a {
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
	display: block;
	font-size: 50px;
}
/* This is a class from bootstrap with my custom styles for */
div.col-sm {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 30px;
}
div.col-sm h4 {

	color:#3c91ca;
}

div.col-sm p {
	color:#ff9c00;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}


/* */
#content {
	text-align: center;
	background-color: #ebedee;
}
/* having the content styles so that the sizes and where it is displayed are changed as well as font */
#content-main {
	font-family: "Fjalla", Arial, sans-serif;
	font-size: 30px;
	color: #3c91ca;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	background-color: #f4f6f7;
	padding-top: 20px;
	padding-bottom: 20px;
}


/* make it full width */
body.full-width #content-main {

}


/* the a little about me section which will be changed for styles which will also changed as the window gets smaller */
#content-para {

	font-family: "Fjalla", Arial, sans-serif;
	position: relative;
	font-size: 25px;
	width: 853px;
	color: #3c91ca;
	margin: 0 auto;
	width: 100%;
	text-align: center;
	padding-bottom: 1px;
	max-width: 80%;

}
/* my goodat section which has lines set as well as different id's for different coloured words */
.goodat {
	font-size: 49px;
	font-family:  'Fjalla One', sans-serif;
	line-height: 40px;
	width: 1020px;
	max-width: 100%;
	margin: 110px auto 80px;
	font-weight: 100;
}

.goodat #line {
	text-align: justify;
}

.goodat #line:after {
	content: "";
	display: inline-block;
	width: 100%;
}

.goodat .skill {
	font-weight: 300;
}

#blue {
	color: #3c91ca;
}

#orange {
	color:#ff9600;
}

#red {
	color: #ff004e;
}
/* the background colour and sizing for the form from bootstrap*/
.form {
	background-color: #ebedee;
	padding: 20px;
}
